<a href="https://colab.research.google.com/github/kapilpriya01/priya-kapil/blob/master/Logistic_Regression/LogisticRegression_Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
data = pd.read_csv(filepath_or_buffer="https://raw.githubusercontent.com/insaid2018/CDF-Certification-Quiz-Data/master/Abalone/02-Data.csv")

In [3]:
data.head()

  Sex  Length  Diameter  ...  Viscera weight  Shell weight  Adult
0   M   0.455     0.365  ...          0.1010         0.150      1
1   M   0.350     0.265  ...          0.0485         0.070      0
2   F   0.530     0.420  ...          0.1415         0.210      1
3   M   0.440     0.365  ...          0.1140         0.155      1
4   M   0.330     0.255  ...          0.0395         0.055      0

[5 rows x 9 columns]

In [4]:
data.describe()

            Length     Diameter  ...  Shell weight        Adult
count  4177.000000  4177.000000  ...   4177.000000  4177.000000
mean      0.523992     0.407881  ...      0.238831     0.663155
std       0.120093     0.099240  ...      0.139203     0.472688
min       0.075000     0.055000  ...      0.001500     0.000000
25%       0.450000     0.350000  ...      0.130000     0.000000
50%       0.545000     0.425000  ...      0.234000     1.000000
75%       0.615000     0.480000  ...      0.329000     1.000000
max       0.815000     0.650000  ...      1.005000     1.000000

[8 rows x 8 columns]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sex             4177 non-null   object
 1   Length          4177 non-null   float64
 2   Diameter        4177 non-null   float64
 3   Height          4177 non-null   float64
 4   Whole weight    4177 non-null   float64
 5   Shucked weight  4177 non-null   float64
 6   Viscera weight  4177 non-null   float64
 7   Shell weight    4177 non-null   float64
 8   Adult           4177 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

In [6]:
data.Sex.unique()

array(['M', 'F'], dtype=object)

In [7]:
data_dummy = pd.get_dummies(data,columns=["Sex"])
data_dummy.head()

   Length  Diameter  Height  Whole weight  ...  Shell weight  Adult  Sex_F  Sex_M
0   0.455     0.365   0.095        0.5140  ...         0.150      1      0      1
1   0.350     0.265   0.090        0.2255  ...         0.070      0      0      1
2   0.530     0.420   0.135        0.6770  ...         0.210      1      1      0
3   0.440     0.365   0.125        0.5160  ...         0.155      1      0      1
4   0.330     0.255   0.080        0.2050  ...         0.055      0      0      1

[5 rows x 10 columns]

In [8]:
data_dummy.drop(columns=["Sex_M"],inplace = True)
data_dummy.head()

   Length  Diameter  Height  ...  Shell weight  Adult  Sex_F
0   0.455     0.365   0.095  ...         0.150      1      0
1   0.350     0.265   0.090  ...         0.070      0      0
2   0.530     0.420   0.135  ...         0.210      1      1
3   0.440     0.365   0.125  ...         0.155      1      0
4   0.330     0.255   0.080  ...         0.055      0      0

[5 rows x 9 columns]

In [9]:
X = data_dummy.loc[:,data_dummy.columns != "Adult"]
X.head()

   Length  Diameter  Height  ...  Viscera weight  Shell weight  Sex_F
0   0.455     0.365   0.095  ...          0.1010         0.150      0
1   0.350     0.265   0.090  ...          0.0485         0.070      0
2   0.530     0.420   0.135  ...          0.1415         0.210      1
3   0.440     0.365   0.125  ...          0.1140         0.155      0
4   0.330     0.255   0.080  ...          0.0395         0.055      0

[5 rows x 8 columns]

In [10]:
y = data_dummy.Adult
y.head()

0    1
1    0
2    1
3    1
4    0
Name: Adult, dtype: int64

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.30, random_state = 3)

In [13]:
X_train.shape

(2923, 8)

In [14]:
X_test.shape

(1254, 8)

In [15]:
y_train.shape

(2923,)

In [16]:
y_test.shape

(1254,)

In [0]:
from sklearn.linear_model import LogisticRegression

In [0]:
logreg = LogisticRegression()

In [19]:
logreg.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
y_pred_train = logreg.predict(X_train)

In [0]:
y_pred_test = logreg.predict(X_test)

In [0]:
from sklearn.metrics import accuracy_score

In [23]:
print("Accuracy: ",accuracy_score(y_test,y_pred_test))

Accuracy:  0.817384370015949

In [0]:
from sklearn.metrics import confusion_matrix

In [25]:
confusion_matrix1 = confusion_matrix(y_test,y_pred_test)
confusion_matrix1

array([[291, 147],
       [ 82, 734]])

In [26]:
#confusion_matrix.index = ['Actually Not Adult', 'Actually Adult']
#confusion_matrix.columns = ['Predicted Not Adult', 'Predicted Adult']
confusion_matrix

In [0]:
TP = confusion_matrix1[1,1]
TN = confusion_matrix1[0,0]
FP = confusion_matrix1[0,1]
FN = confusion_matrix1[1,0]

In [28]:
#Accuracy:
accuracy = (TP + TN) / float (TP + TN + FP + FN)
accuracy

0.817384370015949

**Note, accuracy are same from Accuracy score and from confusion metrix**

In [29]:
# sensitivity: when value is actually positive, how much value is correct
sensitivity = TP / (TP + FN)
sensitivity

0.8995098039215687

In [31]:
# specificity: TP/(TN + TP): when actual is negative, how much prediction is correct

specificity = TN / (FP + TN)
specificity

0.6643835616438356

** reference **: https://www.ritchieng.com/machine-learning-evaluate-classification-model/