<a href="https://colab.research.google.com/github/kapilpriya01/priya-kapil/blob/master/Logistic_Regression/LogisticRegression_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://github.com/insaid2018/Term-1/blob/master/Images/INSAID_Full%20Logo.png?raw=true" width="240" height="360" />

# ASSIGNMENT
# LOGISTIC REGRESSION


##  Bank Marketing


**Abstract:** 
The data is related with __direct marketing campaigns__ (phone calls) of a Portuguese banking institution. The classification goal is to predict if the client will subscribe a __term deposit (variable y)__.

**Data Set Information:**
The data is related with direct marketing campaigns of a Portuguese banking institution. The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, in order to access if the __product (bank term deposit)__ would be __('yes')__ or __('no')__ subscribed. 

###  Source:

 - Dataset from : http://archive.ics.uci.edu/ml/datasets/Bank+Marketing#

### Import the dataset

In [1]:
import pandas as pd
bank = pd.read_csv('https://raw.githubusercontent.com/insaid2018/Term-2/master/Data/bank.csv')
bank.head()

   age          job  marital  ... euribor3m nr.employed    y
0   46  blue-collar  married  ...     4.857      5191.0   no
1   29       admin.   single  ...     1.281      5099.1   no
2   50   management  married  ...     1.405      5099.1   no
3   31       admin.  married  ...     4.860      5191.0   no
4   32       admin.   single  ...     1.262      5076.2  yes

[5 rows x 21 columns]

### Check the columns present in the dataset

In [2]:
bank.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

### Check the shape of Dataset

In [3]:
bank.shape

(10297, 21)

### Check the descriptive statistics of the dataset

In [4]:
bank.describe()

                age      duration  ...     euribor3m   nr.employed
count  10297.000000  10297.000000  ...  10297.000000  10297.000000
mean      40.080606    261.388268  ...      3.621923   5166.850442
std       10.472190    263.722874  ...      1.734170     72.492914
min       18.000000      0.000000  ...      0.634000   4963.600000
25%       32.000000    103.000000  ...      1.344000   5099.100000
50%       38.000000    180.000000  ...      4.857000   5191.000000
75%       47.000000    327.000000  ...      4.961000   5228.100000
max       94.000000   3643.000000  ...      5.045000   5228.100000

[8 rows x 10 columns]

### Check the info of the dataset

In [5]:
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10297 entries, 0 to 10296
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             10297 non-null  int64
 1   job             10297 non-null  object
 2   marital         10297 non-null  object
 3   education       10297 non-null  object
 4   default         10297 non-null  object
 5   housing         10297 non-null  object
 6   loan            10297 non-null  object
 7   contact         10297 non-null  object
 8   month           10297 non-null  object
 9   day_of_week     10297 non-null  object
 10  duration        10297 non-null  int64
 11  campaign        10297 non-null  int64
 12  pdays           10297 non-null  int64
 13  previous        10297 non-null  int64
 14  poutcome        10297 non-null  object
 15  emp.var.rate    10297 non-null  float64
 16  cons.price.idx  10297 non-null  float64
 17  cons.conf.idx   10297 non-null  float64
 18  euribor3m       10297 non-null  float64
 19  nr.employed     10297 non-null  float64
 20  y               10297 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 1.6+ MB

### Q 1. Write a code to understand the below mentioned variables and print their 'unique' attributes.
``` ['job', 'marital', 'education', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'campaign','poutcome', 'pdays', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m'] ```

In [6]:
bank.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [7]:
"""
def log():
    # write your code here to print all the unique values of the variables mentioned in question.
    # The code output should be user-friendly.
    # For eg- Job have these unique values: ['.........']
log()
"""
bank_Columns = ['job', 'marital', 'education', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'campaign','poutcome', 'pdays', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m']
def log():
  for c in bank_Columns:
    print("{} has these unique values: {}".format(c,bank[c].unique()))
    print("**********************")
log()

job has these unique values: ['blue-collar' 'admin.' 'management' 'technician' 'retired' 'services'
 'entrepreneur' 'self-employed' 'unemployed' 'student' 'housemaid'
 'unknown']
**********************
marital has these unique values: ['married' 'single' 'divorced' 'unknown']
**********************
education has these unique values: ['basic.9y' 'university.degree' 'high.school' 'professional.course'
 'basic.6y' 'basic.4y' 'unknown' 'illiterate']
**********************
housing has these unique values: ['no' 'yes' 'unknown']
**********************
loan has these unique values: ['yes' 'no' 'unknown']
**********************
contact has these unique values: ['telephone' 'cellular']
**********************
month has these unique values: ['may' 'apr' 'jun' 'aug' 'jul' 'oct' 'nov' 'dec' 'sep' 'mar']
**********************
day_of_week has these unique values: ['tue' 'wed' 'fri' 'thu' 'mon']
**********************
campaign has these unique values: [ 3  2  1  4  5  6 14  7 21  9 12  8 17 10 20 33 29 15 23 11 18 13 19 39
 27 16 31 34 26 28 24 32 22 56 25 40]
**********************
poutcome has these unique values: ['nonexistent' 'failure' 'success']
**********************
pdays has these unique values: [999   6   9   2  16   3   7   4  12  13   0   1   5  11  26  10   8  14
  15  20  18  17]
**********************
emp.var.rate has these unique values: [ 1.1 -1.8 -2.9  1.4 -3.4 -1.7 -0.1 -3.  -1.1]
**********************
cons.price.idx has these unique values: [93.994 92.893 93.075 92.963 93.444 94.465 93.749 93.918 92.431 94.215
 94.027 93.2   92.649 92.713 94.199 92.843 92.201 93.876 92.379 93.369
 93.798 94.601 94.055 94.767 92.469]
**********************
cons.conf.idx has these unique values: [-36.4 -46.2 -47.1 -40.8 -36.1 -41.8 -34.6 -42.7 -26.9 -40.3 -38.3 -42.
 -30.1 -33.  -37.5 -50.  -31.4 -40.  -29.8 -34.8 -40.4 -49.5 -39.8 -50.8
 -33.6]
**********************
euribor3m has these unique values: [4.857 1.281 1.405 4.86  1.262 4.963 4.959 1.313 4.967 0.663 1.299 4.966
 4.958 1.25  4.96  4.856 4.961 0.728 0.899 4.858 4.964 4.855 4.866 4.864
 1.365 1.354 4.962 4.968 1.244 0.904 1.264 4.021 1.453 1.334 4.076 4.957
 1.266 0.72  4.191 4.153 0.896 4.859 4.965 1.26  1.291 1.215 4.12  4.865
 1.41  0.715 1.445 1.286 0.714 1.344 0.893 1.327 0.879 1.757 1.27  4.97
 1.268 0.835 0.645 0.699 0.854 0.849 0.781 0.73  1.423 0.773 0.635 0.643
 1.415 1.483 0.88  0.881 4.947 1.799 0.89  0.877 0.797 0.884 0.724 0.84
 0.744 0.638 0.695 0.75  0.639 0.821 0.77  0.843 1.372 0.905 0.861 4.918
 0.803 0.682 0.737 0.873 0.869 4.955 0.838 1.259 0.819 0.802 0.652 0.829
 1.    0.987 0.9   0.732 0.851 0.729 1.05  0.642 0.719 1.556 0.883 0.731
 4.921 0.741 0.716 1.028 4.956 0.782 0.876 0.889 1.479 0.697 0.788 0.885
 1.52  0.898 0.713 0.692 0.878 0.74  0.761 0.822 0.701 0.739 0.809 1.029
 1.041 0.834 1.466 1.726 1.072 0.706 1.048 0.655 0.702 0.825 0.959 0.637
 1.392 0.707 0.977 4.912 1.085 1.435 0.722 1.206 1.235 1.498 0.688 1.406
 0.846 0.71  0.634 0.754 0.712 1.629 0.668 1.043 0.748 0.813 4.936 0.753
 0.733 4.733 1.538 0.636 1.614 0.903 0.65  1.703 1.687 0.886 0.723 0.742
 0.87  3.901 1.03  1.811 0.755 0.859 4.406 1.044 0.767 1.252 0.778 0.646
 0.708 1.4   0.768 0.653 1.531 1.032 0.762 0.651 0.743 1.025 0.654 1.008
 0.965 0.749 0.827 4.7   0.882 0.718 1.602 0.972 1.059 1.663 1.04  1.099
 0.685 1.031 0.644 0.683 0.891 0.659 0.735 1.64  1.037 1.046 4.592 0.717
 0.677 1.51  5.045 1.016 0.953 0.81  0.727 0.993 4.794 0.982 0.709 3.853
 0.672 1.039 1.778 0.649 4.827 0.793 4.663 0.79  1.548 0.64  1.65  0.69
 4.76  0.766 0.895 0.914 1.018 0.704 0.985 1.049 4.286 0.908 0.937 0.888
 0.684 0.7   4.245 0.771 1.224 4.474]
**********************

### Q 2. Write a code to check the min and max value of age. Also check if there is any null value or not.

In [8]:
"""
def log():
    # print the max age
    # print the min age
    # print the missing values if any
log()
"""
def log_age():
  print("Min value of Age: {}".format(bank.age.min()))
  print("Max value of Age: {}".format(bank.age.max()))
  print("Age has null values: {}".format(bank.age.isnull().sum()))

log_age()

Min value of Age: 18
Max value of Age: 94
Age has null values: 0

### Count of Yes and No for the term deposit

In [9]:
bank.y.value_counts()

no     9137
yes    1160
Name: y, dtype: int64

### Q 3. Write a user defined function to calculate the Inter quartile range for quantile values outside 25 to 75 range. And do the outlier capping for lower level with min value and for upper level with 'q3=1.5*iqr' value.

In [0]:
"""
def remove_outlier(df_in, col_name):
    # Calculate quantile 1 using quantile(0.25)
    # Calculate quantile 3
    # Calculate IQR as difference of Quantile 3 and quantile 1
    # Find the lower bound using the min() function
    # Find the upper bound as quantile3 + 1.5*IQR
    # Print the lower and upper bound of the column
    # Remove the values lying outside min and upper bound range
    return df_out
"""
def remove_outlier(df_in, col_name):
  q1 = df_in[col_name].quantile(0.25)
  q3 = df_in[col_name].quantile(0.75)
  iqr = q3-q1
  lowerbound = df_in[col_name].min()
  upperbound = q3 + 1.5*iqr
  print("lower bound of {} {}".format(col_name, lowerbound))
  print("upper bound of {} {}".format(col_name, upperbound))
  df_out = df_in.loc[(df_in[col_name]>lowerbound) & (df_in[col_name]<upperbound)]
  return df_out

### Q 3.1 Using the above created function , remove the outlier from 'age' variables:

In [11]:
def log(bank):
    # your code to remove the outlier from age
    return remove_outlier(bank,'age')
bank = log(bank)

lower bound of age 18
upper bound of age 69.5

In [12]:
bank.age.max()

69

### Q 3.2 Using the above created function , remove the outlier from 'campaign' variables:

In [13]:
bank.campaign.min()

1

In [14]:
bank.campaign.max()

56

In [15]:
def log(bank):
    # your code to remove the outlier from campaign
    return remove_outlier(bank,'campaign')
bank = log(bank)

lower bound of campaign 1
upper bound of campaign 6.0

### Q 3.3 Using the above created function , remove the outlier from 'duration' variables:

In [16]:
def log(bank):
    # your code to remove the outlier from duration
    return remove_outlier (bank,'duration')
bank = log(bank)

lower bound of duration 0
upper bound of duration 684.0

### Dividing dataset into two, on the basis of categorical and numerical.

In [17]:
bank_cat=bank[['job', 'marital','default', 'education', 'loan', 'housing', 'contact', 'month', 'day_of_week', 'poutcome', 'y']]
bank_cat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4621 entries, 0 to 10295
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   job          4621 non-null   object
 1   marital      4621 non-null   object
 2   default      4621 non-null   object
 3   education    4621 non-null   object
 4   loan         4621 non-null   object
 5   housing      4621 non-null   object
 6   contact      4621 non-null   object
 7   month        4621 non-null   object
 8   day_of_week  4621 non-null   object
 9   poutcome     4621 non-null   object
 10  y            4621 non-null   object
dtypes: object(11)
memory usage: 433.2+ KB

In [18]:
bank_cont = bank.drop(['job', 'marital','default', 'education', 'loan', 'housing', 'contact', 'month', 'day_of_week', 'poutcome', 'y'], axis=1)
bank_cont.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4621 entries, 0 to 10295
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             4621 non-null   int64
 1   duration        4621 non-null   int64
 2   campaign        4621 non-null   int64
 3   pdays           4621 non-null   int64
 4   previous        4621 non-null   int64
 5   emp.var.rate    4621 non-null   float64
 6   cons.price.idx  4621 non-null   float64
 7   cons.conf.idx   4621 non-null   float64
 8   euribor3m       4621 non-null   float64
 9   nr.employed     4621 non-null   float64
dtypes: float64(5), int64(5)
memory usage: 397.1 KB

### Q 4. Label encode the below mentioned categorical variable to numerical values.
``` ['job', 'marital','default','education', 'loan', 'housing', 'contact', 'month', 'day_of_week', 'poutcome', 'y'] ```

In [0]:
from sklearn.preprocessing import LabelEncoder

In [20]:
def log(bank_cat):
    # your code to return the value applying fit_transorm
    return bank_cat.apply(LabelEncoder().fit_transform)
bank_cat = log(bank_cat)
bank_cat.head()

   job  marital  default  education  ...  month  day_of_week  poutcome  y
0    1        1        0          2  ...      6            3         1  0
1    0        2        0          6  ...      6            4         1  0
3    0        1        1          3  ...      6            2         1  0
5    0        2        0          6  ...      1            1         1  0
8    1        1        1          5  ...      6            4         0  0

[5 rows x 11 columns]

### Combining the numerical and categorical dataset.

In [0]:
bank_final= pd.concat([bank_cont, bank_cat], axis = 1)

### Q 6. Extract independent column to prepare X

In [22]:
X = pd.DataFrame()
def log():
    # write your code to create a dataframe of dependent variables excluding 'y' variable
    X = bank_final.loc[:,bank_final.columns!='y']
    return X
X = log()
X.head()

   age  duration  campaign  pdays  ...  contact  month  day_of_week  poutcome
0   46       329         3    999  ...        1      6            3         1
1   29       132         2    999  ...        0      6            4         1
3   31       199         2    999  ...        1      6            2         1
5   33       174         4    999  ...        0      1            1         1
8   34        65         2    999  ...        0      6            4         0

[5 rows x 20 columns]

### Q 7. Extract dependent variable into a dataframe 'y' for model predcition

In [23]:
y = pd.DataFrame()
def log():
    # write your code to create a dataframe which consists only of dependepent variable
    y = bank_final.y
    return y
y = log()
y.head()

0    0
1    0
3    0
5    0
8    0
Name: y, dtype: int64

### Q 8. Splitting X and y intro train and test dataset

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
#  return # train test split using train_test_split of 75:25 and random state=1
def log():
  return train_test_split(X,y, test_size = 0.25, random_state = 1)
X_train, X_test, y_train, y_test = log()

### Check the shape of X an y of train dataset.

In [26]:
def log():
    print(X_train.shape)
    print(y_train.shape)
log()

(3465, 20)
(3465,)

### Check the shape of X and y of test dataset.

In [27]:
def log():
    print(X_test.shape)
    print(y_test.shape)
log()

(1156, 20)
(1156,)

### Q 9. Instantitate Logistic Regression model using scikit-learn

In [0]:
from sklearn.linear_model import LogisticRegression

In [0]:
def log():
    # initiate the logistic regression model to new variable logreg
    logreg = LogisticRegression()
    return logreg
logreg = log()

### Q 10. Fit the logistic model on X_train and y_train

In [30]:
def log():
  # fit the X_train and y_train
  # We don't expect any return from your side.
  logreg.fit(X_train,y_train)
log()

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

### Q 11. Using the model for prediction

In [0]:
y_pred_train = pd.DataFrame()
def log():
    # create the model prediction on X_train data using the above created dataframe
    y_pred_train = logreg.predict(X_train)
    return y_pred_train
y_pred_train = log()

In [0]:
y_pred_test = pd.DataFrame()
def log():
    # create the model prediction on X_test data using the above created dataframe
    y_pred_test = logreg.predict(X_test)
    return y_pred_test
y_pred_test = log()

### Q 12. Model evaluation using accuracy classification score

In [0]:
from sklearn.metrics import accuracy_score

In [34]:
def log():
    #Calculate and print the accuracy score
    print("Accuracy Score: ", accuracy_score(y_test,y_pred_test))
log()

Accuracy Score:  0.9411764705882353

### Q 13. Model evaluation using Confusion matrix

In [0]:
from sklearn.metrics import confusion_matrix
confusion_matrix = pd.DataFrame(confusion_matrix(y_test, y_pred_test))

In [36]:
def log():
    # provide confusion matrix index name as['Actual No_Deposit','Actual Deposit']
    # provide confusion matrix index name as['Predicted No_Deposit','Predicted Deposit']
    confusion_matrix.index = ['Actual No_Deposit','Actual Deposit']
    confusion_matrix.columns = ['Predicted No_Deposit','Predicted Deposit']
    print(confusion_matrix)
log()

                   Predicted No_Deposit  Predicted Deposit
Actual No_Deposit                  1063                 13
Actual Deposit                       55                 25

In [0]:
# correct predictions: 1063 + 25 = 1078
# total wrong predictions: 55 + 13 = 68

### Q 14. Accuracy prediction setting the threshold = 0.75

In [0]:
import numpy as np

In [44]:
probaTest = logreg.predict_proba(X_test)[0]
probaTest

array([0.98334834, 0.01665166])

In [0]:
# 0.98334834, 0.01665166
# for class 0, class 1
# p values according to the sigmoid fnction

In [40]:
def log():
    # Calculate preds1 keeping the probabilty value as 0.75
    # calculate and print the accuracy using the above mentioned threshold probability
    preds1 = np.where(logreg.predict_proba(X_test)[:,1]>0.75,1,0)
    print("Accuracy score for test data: ", accuracy_score(y_test,preds1))
log()

Accuracy score for test data:  0.9411764705882353

### Q 15. Accuracy prediction setting the threshold = 0.25

In [39]:
def log():
    # Calculate preds2 keeping the probabilty value as 0.25
    # calculate and print the accuracy using the above mentioned threshold probability\
    preds2 = np.where(logreg.predict_proba(X_test)[:,1]>0.25,1,0)
    print("Accuracy score for test data: ",accuracy_score(y_test,preds2))
log()

Accuracy score for test data:  0.9273356401384083